
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#b5121b, #5a080c);
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff9e6;
}

button {
    background: #d4a017;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    color: #5a080c;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}
